.table,
td,
th {
  color: aliceblue;
  background-color: darkcyan;
  text-align: center;
  margin-top: 50px;
  margin-left: 100px;
}

.table {
  box-sizing: border-box;
  border: black;
  width: 80%;
}

th {
  // background-color: white;
  // padding-left: 8px;
  color: black;
}
