<!-- <table border='1'>  
    
    <tr>  
      <td>Id</td>  
      <td>Name</td>  
      <td>description</td>  
      <td>purpose</td>  
      <td>usedage</td>  
      <td>brand</td>  
      <td>create_date</td> 
      <td>update_date</td>  
    </tr>  
    <tr *ngFor="let kk of vaccinedata;let ind = index">  
         
      <td>{{ind + 1}}</td>  
      <td>{{kk.name}}</td>  
      <td>{{kk.description}}</td>  
      <td>{{kk.purpose}}</td>  
      <td>{{kk.usedage}}</td>  
      <td>{{kk.brand}}</td>  
      <td>{{kk.create_date}}</td>  
      <td>{{kk.update_date}}</td>   
    </tr>  
  </table>   -->

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="vaccine_FormGroup" (ngSubmit)="onSubmit(vaccine_FormGroup.value)" novalidate>
        <div *ngFor="let form_elem of formTemplate.form_template">
          <div [ngSwitch]="form_elem.type">
            <div class="form-group">
              <div *ngSwitchCase="'VaccineName'">
                <label>{{ form_elem.label }}</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="model.vaccine_Name"
                  name="vaccine_Name"
                  formControlName="vaccine_Name"
                />
                <span
                  *ngIf="!vaccine_FormGroup.get('vaccine_Name').valid && vaccine_FormGroup.get('vaccine_Name').touched"
                  class="help-block"
                  >Please Enter vaccinename</span
                >
              </div>
            </div>
            <div class="form-group">
              <div *ngSwitchCase="'Description'">
                <label>{{ form_elem.label }}</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="model.vaccine_Description"
                  name="vaccine_Description"
                  formControlName="vaccine_Description"
                />
                <span
                  *ngIf="
                    !vaccine_FormGroup.get('vaccine_Description').valid &&
                    vaccine_FormGroup.get('vaccine_Description').touched
                  "
                  class="help-block"
                  >Please Enter Description</span
                >
              </div>
            </div>
            <div class="form-group">
              <div *ngSwitchCase="'Purpose'">
                <label>{{ form_elem.label }}</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="model.vaccine_Purpose"
                  name="vaccine_Purpose"
                  formControlName="vaccine_Purpose"
                />
                <span
                  *ngIf="
                    !vaccine_FormGroup.get('vaccine_Purpose').valid && vaccine_FormGroup.get('vaccine_Purpose').touched
                  "
                  class="help-block"
                  >Please Enter Purpose</span
                >
              </div>
            </div>
            <div *ngSwitchCase="'Usedage'">
              <label>{{ form_elem.label }}</label>
              <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="model.vaccine_Usedge"
                name="vaccine_Usedge"
                formControlName="vaccine_Usedge"
              />
              <span
                *ngIf="
                  !vaccine_FormGroup.get('vaccine_Usedge').valid && vaccine_FormGroup.get('vaccine_Usedge').touched
                "
                class="help-block"
                >Please Enter Usedage</span
              >
            </div>
            <div *ngSwitchCase="'Brand'">
              <label>{{ form_elem.label }}</label>
              <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="model.vaccine_Brand"
                name="vaccine_Brand"
                formControlName="vaccine_Brand"
              />
              <span
                *ngIf="!vaccine_FormGroup.get('vaccine_Brand').valid && vaccine_FormGroup.get('vaccine_Brand').touched"
                class="help-block"
                >Please Enter Brand</span
              >
            </div>
            <div *ngSwitchCase="'Created_Date'">
              <label>{{ form_elem.label }}</label>
              <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="model.vaccine_Created_Date"
                name="vaccine_Created_Date"
                formControlName="vaccine_Created_Date"
              />
              <span
                *ngIf="
                  !vaccine_FormGroup.get('vaccine_Created_Date').valid &&
                  vaccine_FormGroup.get('vaccine_Created_Date').touched
                "
                class="help-block"
                >Please Enter Created_Date</span
              >
            </div>
            <div *ngSwitchCase="'Updated_Date'">
              <label>{{ form_elem.label }}</label>
              <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="model.vaccine_Updated_Date"
                name="vaccine_Updated_Date"
                formControlName="vaccine_Updated_Date"
              />
              <span
                *ngIf="
                  !vaccine_FormGroup.get('vaccine_Updated_Date').valid &&
                  vaccine_FormGroup.get('vaccine_Updated_Date').touched
                "
                class="help-block"
                >Please Enter Updated_Date</span
              >
            </div>

            <!-- <div *ngSwitchCase="'number'">
                <label>{{form_elem.label}}</label>
                <input type="number" formControlName="{{form_elem.label}}" class="form-control"/>
            </div>
            <div *ngSwitchCase="'select'">
                <label>{{form_elem.label}}</label>
                <select formControlName="{{form_elem.label}}">
                <option *ngFor="let opt of form_elem.options">
                    {{opt}}
                </option>
                </select>
            </div> -->
          </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 200px" [disabled]="!vaccine_FormGroup.valid">
          Submit
        </button>
        <!-- <input type="submit" value="{{ valbutton }}" /> -->
      </form>
    </div>
  </div>
</div>
